@using JS.AMSWeb.Areas.TicketModule.ViewModels.TicketInfo;
@using X.PagedList.Mvc.Core
@model TicketHistoryPageViewModel

@{
    ViewData["Title"] = "Ticket Info List";
}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">

    <div class="d-flex flex-column flex-column-fluid">

        <div id="kt_app_content" class="app-content flex-column-fluid">

            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-0">

                <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">

                    <div class="page-title d-flex flex-column justify-content-center me-3">

                        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Ticket History Listing</h1>

                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">

                            <li class="breadcrumb-item text-muted">
                                <a href="../../demo23/dist/index.html" class="text-muted text-hover-primary">Home</a>
                            </li>

                            <li class="breadcrumb-item">
                                <span class="bullet bg-gray-400 w-5px h-2px"></span>
                            </li>

                            <li class="breadcrumb-item text-muted">Ticket History</li>

                            <li class="breadcrumb-item">
                                <span class="bullet bg-gray-400 w-5px h-2px"></span>
                            </li>

                            <li class="breadcrumb-item text-muted">Listing</li>

                        </ul>

                    </div>

                    <div class="d-flex align-items-center gap-2 gap-lg-3">

                        <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_new_ticket" class="btn btn-primary fw-bold fs-8 fs-lg-base">Update Ticket Status</a>

                    </div>

                </div>

            </div>

            <div id="kt_app_content_container" class="app-container container-xxl">
                <form asp-action="Search">

                    <div class="card">

                        <div class="card-header border-0 pt-6">

                            <div class="card-title">

                                <div class="d-flex align-items-center position-relative my-1">
                                    <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
                                    <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search Ticket History" id="SearchName" name="SearchName" value="@ViewData["SearchName"]">
                                </div>

                            </div>
                            <div class="col-12 col-lg-4 col-xl-4 mt-5 mt-lg-0">
                                <button type="submit" class="btn btn-light-primary px-6 font-weight-bold">Search</button>
                                <a asp-action="Index" class="btn btn-light-primary px-6 font-weight-bold">Reset</a>
                            </div>
                        </div>

                        <div class="card-body pt-0">

                            <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="table-responsive">
                                    <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
                                        <thead>
                                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Name" style="width: 30%">Ticket Info ID </th>
                                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Name" style="width: 30%">Categery </th>
                                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Name" style="width: 30%">Status </th>
                                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="BRN" style="width: 30% ">Remark</th>
                                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="BRN" style="width: 30% ">Other Description</th>

                                                @*  <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 102.640625px;">Actions</th> *@
                                            </tr>
                                        </thead>
                                        <tbody class="fw-semibold text-gray-600">
                                            @if (Model != null)
                                            {
                                                @foreach (var item in Model.Listing)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td>@item.TicketInfoName</td>
                                                        <td>@item.TicketCategoryName</td>
                                                        <td>@item.TicketStatusName</td>
                                                        <td>@item.Remark</td>
                                                        <td>@item.OtherDescription</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </div>

                            </div>

                            @await Html.PartialAsync("_Pagination", Model.Listing)
                        </div>
                    </div>
                </form>

            </div>


            <div class="modal fade" id="kt_modal_new_ticket" tabindex="-1" style="display: none;" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered mw-750px">

                    <div class="modal-content rounded">

                        <div class="modal-header pb-0 border-0 justify-content-end">

                            <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                <i class="ki-outline ki-cross fs-1"></i>
                            </div>

                        </div>

                        <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">

                            <form id="kt_modal_new_ticket_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-action="UpdateStatus" enctype="multipart/form-data">

                                <div class="mb-13 text-center">

                                    <h1 class="mb-3">Update Ticket Status</h1>

                                </div>

                                <div class="row g-9 mb-8">

                                    <div class="col-md-6 fv-row fv-plugins-icon-container">
                                        <label class="required fs-6 fw-semibold mb-2">Status</label>
                                        <select asp-for="UpdateTicketStatusDTO.TicketStatusId" type="text" class="form-control form-control-solid" asp-items="ViewBag.TicketStatuses" name="TicketStatusId">
                                        </select>
                                    </div>

                                    <div class="col-md-6 fv-row fv-plugins-icon-container">
                                        <label class="required fs-6 fw-semibold mb-2">Remark</label>
                                        <input type="text" asp-for="UpdateTicketStatusDTO.Remark" class="form-control form-control-solid" placeholder="Enter remark" name="Remark">

                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                    </div>

                                    <div class="col-md-6 fv-row fv-plugins-icon-container">
                                        <label class="required fs-6 fw-semibold mb-2">Other Description</label>
                                        <input type="text" asp-for="UpdateTicketStatusDTO.OtherDescription" class="form-control form-control-solid" placeholder="Enter Other Description" name="OtherDescription">

                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                    </div>


                                    <div class="dropzone dz-clickable" id="kt_modal_create_ticket_attachments">


                                        <div class="dz-message needsclick align-items-center">

                                            <i class="ki-outline ki-file-up fs-3hx text-primary"></i>

                                            <div class="ms-4">
                                                <h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
                                                <input type="file" asp-for="UpdateTicketStatusDTO.Files" multiple name="Files">
                                                <div></div>
                                                <span class="fw-semibold fs-7 text-gray-400">Upload up to 10 files</span>
                                            </div>

                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="UpdateTicketStatusDTO.TicketInfoId" name="TicketInfoId" />
                                </div>
                                <div class="text-center">
                                    <button asp-action="Index" id="kt_modal_new_ticket_cancel" class="btn btn-light me-3">Cancel</button>
                                    <button type="submit" id="kt_modal_new_ticket_submit" class="btn btn-primary">
                                        <span class="indicator-label">Submit</span>
                                        <span class="indicator-progress">
                                            Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-start">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="TicketInfo" style="position: relative; left: 50px;top: 20px">Back</a>
            </div>
        </div>
    </div>

</div>


<div id="kt_app_footer" class="app-footer">

    <div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack py-3">

        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2023©</span>
            <a href="https://www.jomsystem.com" target="_blank" class="text-gray-800 text-hover-primary">JOM SYSTEM POS SYSTEM</a>
        </div>

    </div>

</div>


